body {
    width: 1250px;
    margin: 20px auto 0;
    background-color: #e8e8e8;
}

#control {
    float: left;
    width: 200px;
    height: 840px;
    margin-right: 50px;
}

.graphSVG {
    float: left;
}

#selector {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    text-align: center;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

#legendBox {
    margin-top: 30px;
}

.title {
    font-size: 20px;
}

.xLabel {
    font-size: 17px;
}

#tooltip {
    position: absolute;
    background-color: white;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
}

#tooltip1 {
    position: absolute;
    background-color: white;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.hidden1 {
    display: none;
}

.line {
    fill: none;
    stroke: #34626c;
    stroke-width: 3;
}

.off {
    opacity: 0.1;
}

.firstGraphDiv {
    background-color: red;
}